<div nxLayout="grid" >  
    <div nxRow *ngIf="artworks$ | async as artworks">    
        <div nxCol="3" *ngFor="let artwork of artworks.data">
            <app-artwork-card    [artwork]="artwork" [iiifUrl]="artworks.config.iiif_url"></app-artwork-card>
        </div>        
    </div>
</div>

<div nxLayout="grid" class="nx-margin-y-m">
    <div nxRow>
      <div nxCol="4" nxColOffset="4">
        <nx-pagination
          [nxCount]="count"
          [nxPage]="page"
          [nxPerPage]="perPage"
          nxType="advanced"
          (nxGoPrev)="prevPage()"
          (nxGoNext)="nextPage()"
          (nxGoPage)="goToPage($event)"
        >
        </nx-pagination>
      </div>
    </div>
</div>